*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-blue: rgb(248, 253, 255);
	--pine-tree: #292E1E;
}

html {
	/* 1rem = 10px, 62.5% of 16px browser font size is 10px*/
	font-size: 62.5%;
}

body {
	/* 16px */
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	color: var(--pine-tree);
}

header {
	position: fixed;
	top: 0;
}

nav {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5.4rem;
	background-color: var(--light-blue);
}

.logo {
	padding-left: 9rem;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	padding: 0 6rem;
}

nav ul li:last-child {
	padding-right: 12rem;
}

nav ul li a {
	text-decoration: none;
	color: var(--pine-tree);
	text-transform: capitalize;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	transition: color 300ms;
}

nav ul li a:hover {
	cursor: pointer;
	color: rgb(167, 250, 43);
}

main {
	background-color: var(--light-blue);
	width: 100%;
	margin-top: 5.4rem;
	padding: 0 2rem;
}

@media only screen and (max-width: 1060px) {
	nav ul li {
		padding: 2rem;
	}

	nav ul li:last-child {
		padding-right: 4rem;
	}

	.logo {
		padding-left: 4rem;
	}
}

@media only screen and (max-width: 505px) {
	nav {
		height: 9rem;
		flex-direction: row;
	}

	main {
		padding-top: 9rem;
	}

	.logo {
		padding: 0;
		margin: 0 auto;
	}

	nav ul {
		width: 100%;
		justify-content: center;
	}
	
	nav ul li {
		padding: 0 1.2rem;
	}

	nav ul li:last-child {
		padding-right: 0;
	}
}

.hero {
	height: calc(100vh - 5.4rem);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.hero-content {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 6rem;
}



.hero-img {
	width: 50%;
	display: flex;
	padding: 4rem 6rem 10rem 2rem;
}

.hero-img img {
	object-fit: contain;
	/* prevent image disappearance */
}

hr {
	width: 30%;
	height: 0.6rem;
	background-color: #EE795E;
	border: none;
}

.title {
	font-size: 3rem;
	font-weight: 500;
}

.title-span {
	font-size: 6rem;
	font-weight: bold;
	color: #A2D729;
}

.title-sub {
	font-size: 2rem;
}

/* From uiverse.io by @alexruix */
.hero-form-input {
  display: flex;
  align-items: center;
	padding-top: 1rem;
}

.hero-email-input {
  min-height: 4rem;
  max-width: 20rem;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5C80BC;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.hero-form-submit {
  min-height: 4rem;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5C80BC;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.hero-form-submit:hover {
  background-color: #5e5dcd;
}

.hero-email-input:focus, .hero-email-input:focus-visible {
  border-color: #3898EC;
  outline: none;
}


@media only screen and (max-width: 800px){
  
  .hero {
    flex-direction: column;  
  }
  
  .hero-content {
    width: 100%;
    min-height: 20rem;
  }

	.hero-img {
		order: -1;
		width: 100%;
		height: auto;
		padding: 0;
		justify-content: center;
		align-items: center;
		padding-bottom: 3rem;
	}

	hr {
		display: none;
	}
}

@media only screen and (max-width: 515px) {
	.hero-img {
		height: 30%;
	}

	.hero-img img {
		height: 100%;
	}

	.hero-content {
		padding: 0;
		padding-top: 4rem;
		text-align: center;
	}

	.hero-form {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	
}
